.btn {
  padding: 0 18px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  color: $secondary-color;
  background-color: $primary-color;
  font-size: 1em;
  font-family: $font;
  font-weight: 600;
  border-radius: 18px;
  min-width: 120px;
  @include prefix(transition, all 125ms);
  background-clip: padding-box;
  white-space: nowrap;
  
  &:hover, &:focus {
    text-decoration: none;
  }

  &:hover {
    @include prefix(transform, translateY(-1px));
    opacity: .75;
  }

  &:active {
    @include prefix(transform, translateY(0));
  }

  span {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, .3);
    @include prefix(transform, translateX(-18px));
    border-radius: 18px 0 0 18px;
  }
}

.btn-cancel, .btn-alert, .btn-success, .btn-info, .btn-warning {
  @extend .btn;
}

.btn-alert, .btn-success, .btn-info, .btn-warning,
.btn-alert span, .btn-success span, .btn-info span, .btn-warning span {
  color: $primary-color;
}

.btn-success {
  background-color: $green;
}

.btn-info {
  background-color: $blue;
}

.btn-cancel {
  background-color: #d6d6d6;
}

.btn-alert {
  background-color: $alert;
}

.btn-warning {
  background-color: $warning;
}

.btn-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d6d6d6;
  @include prefix(transition, .25s cubic-bezier(.075,.82,.165,1));

  &:hover {
    background-color: $dark-blue;
    text-decoration: none;

    span {
      color: $primary-color;
    }
  }

  span {
    color: #aaa;
    cursor: pointer;
    z-index: 5;
  }
}