.btn {
  padding: 0 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  color: $secondary-color;
  background-color: $primary-color;
  font-family: $font;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  min-width: 120px;
  @include prefix(box-shadow, 0 10px 10px rgba(0, 0, 0, 0.1));
  @include prefix(transition, all 250ms);
  background-clip: padding-box;

  &:hover, &:focus {
    text-decoration: none;
  }

  &:hover {
    @include prefix(transform, translateY(-1px));
  }

  &:active {
    @include prefix(box-shadow, rgba(0, 0, 0, .06) 0 2px 4px);
    @include prefix(transform, translateY(0));
  }

  .icon {
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .3);
    @include prefix(transform, translateX(-30px));
    border-radius: 5px 0 0 5px;

    &.add {
      @include background("icons/add.svg", 24px);
    }

    &.filter {
      @include background("icons/filter.svg", 16px);
    }
  }
}

.btn-cancel, .btn-alert, .btn-success, .btn-info {
  @extend .btn;
}

.btn-success {
  color: $primary-color;
  background-color: $green;
}

.btn-info {
  color: $primary-color;
  background-color: $blue;
}

.btn-cancel {
  color: $primary-color;
  background-color: $grey;
}

.btn-alert {
  color: $primary-color;
  background-color: $alert;
}

.btn-icon {
  @extend .btn;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;

  img {
    width: 16px;
    height: 16px;
  }
}

.options {
  position: relative;

  .options-btn {
    img {
      width: 16px;
      height: 16px;
    }
  }

  ul {
    z-index: 999;
    display: none;
    list-style: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: $primary-color;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:before, &:after {
      content: "";
      position: absolute;
      border-left: solid 6px transparent;
      border-right: solid 6px transparent;
      bottom: 100%;
    }

    &:before {
      right: 6px;
      bottom: 100%;
      border-bottom: solid 6px #fff;
      z-index: 3;
    }

    &:after {
      right: 5px;
      border-bottom: solid 6px #d6d6d6;
      z-index: 2;
    }

    li a {
      display: block;
      padding: 10px 15px;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      white-space: nowrap;
      font-size: .75em;
      border-radius: 5px;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}