.chosen-container, .chosen-container-multi {
  font-size: 1em;
  font-family: $font;
  min-width: 240px;
  width: 100% !important;

  .chosen-single, &.chosen-container-active.chosen-with-drop .chosen-single, .chosen-choices {
    padding: 10px 30px 10px 15px;
    margin: 0;
    background: none;
    background-color: $primary-color;
    min-height: 40px;
    border: 2px solid transparent;
    border-radius: 5px;
    @include prefix(box-shadow, none);

    &:hover {
      border-color: $dark-blue;
    }

    span {
      margin: 0;
    }

    div b {
      background-position: 0 10px;
    }
  }

  .chosen-choices {
    padding: 0;

    li.search-field {
      input[type="text"] {
        padding: 10px 15px;
        width: 100%;
        font-size: 1em;
        font-family: $font;
        margin: 0;
      }
    }

    li.search-choice {
      margin: 5px;

      .search-choice-close {
        top: 6px;
      }
    }
  }

  .chosen-drop {
    margin: 0;
    border-radius: 5px;
    border: none;
    @include prefix(box-shadow, 0 10px 10px rgba(0, 0, 0, 0.1));

    .chosen-search {
      padding: 5px;

      input {
        padding: 10px;
        background: none;
        margin: 0;
        background: url("icons/search.svg") no-repeat calc(100% - 10px) 10px;
        background-size: 16px;
      }
    }

    .chosen-results {
      padding: 5px;
      margin: 0;
      font-weight: 600;

      li {
        border-top: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px 13px;

        &.highlighted {
          background-image: none;
          background-color: $dark-blue !important;

          em {
            color: $primary-color !important;
          }
        }
      }
    }
  }

  &.chosen-container-active.chosen-with-drop div b {
    background-position: -16px 10px;
  }
}