.error, .hint {
  display: inline-block;
}

.error {
  color: $alert;
}

.error_notification, .hint {
  color: $warning;
}

.flash {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  color: $secondary-color;
  background-color: $primary-color;

  .flash-title, .flash-body {
    color: $primary-color;
  }

  &.inline {
    flex-direction: row;
  }

  p {
    font-weight: 400;
    
    &.flash-title {
      font-weight: 600;
    }
  }

  i, span {
    &:nth-child(n+2) {
      margin-left: 10px;
    }
  }

  &.success {
    background-color: $green;
  }

  &.warning {
    background-color: $warning;
  }

  &.alert {
    background-color: $alert;
  }

  &.info, &.notice {
    background-color: $blue;
  }

  &.success, &.warning, &.alert, &.info, &.notice {
    color: $primary-color;
  }

  &.error {
    background-color: $primary-color;

    .flash-title {
      color: $alert;
    }

    .flash-body {
      color: $secondary-color;
    }
  }
}

.field_with_errors {
  label {
    color: $alert !important;
  }

  input, select, textarea {
    border-color: $alert !important;
  }

  .error {
    padding: 6px 10px 5px 10px;
    background-color: #FFDDE3;
    color: $alert;
    position: relative;
    margin-top: 10px;
    font-size: .6em;
    font-weight: 700;

    &:first-letter {
      text-transform: uppercase;
    }

    &:before {
      content: "";
      position: absolute;
      left: 10px;
      bottom: 100%;
      border-left: solid 7px transparent;
      border-right: solid 7px transparent;
      border-bottom: solid 7px #FFDDE3;
    }
  }
}

#error_explanation {
  background-color: #FFDDE3;

  ul {
    padding: 10px;
    list-style: none;

    li {
      color: $alert;

      &:nth-of-type(n+2) {
        margin-top: 15px;
      }
    }
  }
}
