.box {
	margin: 0 auto;
	background-color: $alt-color;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-panel {
	&, .main-sidebar, .main-container {
		height: 100%;
	}

	.main-container {
		width: 100%;
		overflow-y: auto;
		padding: 15px 30px;

		.container-header, .container-body {
			padding: 15px 0;
		}

		.container-header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.header-title {
				font-size: 2em;
				line-height: 20px;
				font-weight: 300;
				text-transform: uppercase;

				span {
					font-weight: 600;
				}
			}

			.right-content {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
	}
}