.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 2px;
  font-weight: 600;
  @include prefix(box-shadow, (rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px));
}

.pagination {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;

  a, span.gap {
    background-color: $primary-color;
    color: $dark-blue !important;
  }

  span.current {
    background-color: $dark-blue;
    color: $primary-color;
  }

  span:not(.current) {
    &:hover a {
      background-color: $grey;
    }

    a {
      color: $blue;
    }
  }

  .first, .prev, .page, .next, .last {
    padding: 0;
    float: none;
    border: none;
  }

  .first, .prev, .next, .last {
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      width: 100%;
      line-height: 25px;
    }
  }

  .prev:before {
    content: "\2039";
  }

  .next:before {
    content: "\203A";
  }

  .first:before {
    content: "\00AB";
  }

  .last:before {
    content: "\00BB";
  }
}