@keyframes bounceInRight {
   0% {
      opacity: 0;
      transform: translateX(300%);
   }
   60% {
      opacity: 1;
      transform: translateX(-30px);
   }
   80% {
      transform: translateX(10px);
   }
   100% {
      transform: translateX(0);
   }
} 

@keyframes fadeInBottom {
   0% {
      opacity: 0;
      transform: translateY(50px);
   }
   50% {
      opacity: .5;
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   50% {
      opacity: .5;
   }
   100% {
      opacity: 1;
   }
}

@keyframes spin {
  0%   { background-position: 0    0   , 0 100%, 100% 100% }
  25%  { background-position: 100% 0   , 0 100%, 100% 100% }
  50%  { background-position: 100% 0   , 0 0   , 100% 100% }
  75%  { background-position: 100% 0   , 0 0   , 0    100% }
  100% { background-position: 100% 100%, 0 0   , 0    100% }
}