@for $i from 0 through 100 {
  .m-t-#{$i} {
    margin-top: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .m-r-#{$i} {
    margin-right: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .m-b-#{$i} {
    margin-bottom: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .m-l-#{$i} {
    margin-left: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .p-t-#{$i} {
    padding-top: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .p-r-#{$i} {
    padding-right: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .p-b-#{$i} {
    padding-bottom: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .p-l-#{$i} {
    padding-left: #{$i + "px"} !important;
  }
}