@for $i from 0 through 100 {
  .m-t-#{$i} {
    margin-top: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .m-r-#{$i} {
    margin-right: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .m-b-#{$i} {
    margin-bottom: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .m-l-#{$i} {
    margin-left: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .p-t-#{$i} {
    padding-top: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .p-r-#{$i} {
    padding-right: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .p-b-#{$i} {
    padding-bottom: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .p-l-#{$i} {
    padding-left: #{$i + "px"} !important;
  }
}

@for $i from 0 through 100 {
  .gap-#{$i} {
    &.flex-row {
      margin-left: -#{$i + "px"} !important;
      width: calc(100% + #{$i + "px"});

      .flex-col {
        margin-left: #{$i + "px"} !important;
      }
    }

    @media screen and (max-width: 767px) {
      &.flex-row {
        margin: 0 !important;
        width: 100%;

        .flex-col {
          margin-left: 0 !important;
        }
      } 
    }
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @include span-columns($i);

    @media screen and (max-width: 479px) {
      @include span-columns(12);
    }
  }

  .flex-col-#{$i} {
    width: calc(100%/12*#{$i});

    @media only screen and (max-width: 991px) {
      @include span-columns(6);
    }

    @media screen and (max-width: 767px) {
      @include span-columns(12);
      margin: 0;
    }
  }
}