@page {
  margin: 0 !important;
}

@media only screen and (max-width: 1999px){
  html, body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 991px){
  html, body {
    font-size: 12px;

    .login-panel {
      .left-container {
        display: none;
      }

      .right-container .logo-dcpeoti {
        display: block;
      }
    }

    .main .menu-icon {
      display: block;
      position: absolute;
      z-index: 999;
      left: 15px;
      top: 15px;
      cursor: pointer;
      background-color: $alt-color;
      padding: 10px;
      border-radius: 50%;
      @include prefix(box-shadow, (rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px));
    }

    .main-sidebar {
      position: fixed;
      z-index: 999;
      left: -70px;
      width: 70px;

      &.visible {
        left: 0;
      }

      .sidebar-header {
        .logo-dcpeoti {
          width: 4em;
        }
      }

      .sidebar-nav {
        .nav-title {
          display: none;
        }

        ul li a {
          font-size: 0;

          &:before {
            display: none;
          }
        }
      }

      .sidebar-footer {
        .welcome, .welcome-user {
          display: none;
        }

        a {
          font-size: 0;
        }
      }
    }

    .main-panel .main-container {
      .container-header {
        flex-direction: column;
        gap: 15px;

        .grid, .list {
          display: none;
        }
      }
    }

    .sign-up-panel .form .content {
      flex: auto;
    }
  }
}

@media only screen and (max-width: 767px){
  html, body {
    font-size: 11px;

    .order-cards {
      grid-template-columns: 1fr !important;
    }

    #orders .main-panel .main-container {
      .form .custom-radio {
        grid-template-columns: auto;
      }

      .order-info {
        .order-id, .updated-at {
          text-align: center;
          font-size: 1em;
        }
      }

      .container-body {
        &.list {
          .order-cards {

            .order-card {
              flex-wrap: wrap;

              &:nth-child(n+2) {
                margin-top: 15px;
              }

              .order-card-header {
                flex: 3;
                justify-content: flex-start;

                .right-content {
                  padding-top: 5px;
                  margin-top: 5px;
                  border-top: dotted 1px #ccc;
                } 
              }

              .order-card-body {
                flex: 9;
              }

              .order-card-footer {
                flex: 1 100%;

                .options ul {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }

    dl {
      flex-direction: column;

      dt, dd {
        width: 100%;
      }
    }

    .btn.icon {
      padding: 0;
      text-indent: -9999px;
      min-width: auto;

      span {
        @include prefix(transform, translateX(0));
        border-radius: 18px;
        text-indent: initial;
      }
    }
  }
}

@media only screen and (max-width: 575px){
  html, body {
    font-size: 10px;

    .main-panel .main-container {
      padding: 15px;

      .container-header {
        .left-content, .right-content {
          width: 100%;
          justify-content: center;
        }
      }

      .search {
        display: block;
        
        input[type="submit"] {
          display: none;
        }
      }
    }

    #home, #orders, #schools, #users, #stuffs {
      .main-panel .main-container .container-body section h3 {
        margin-left: -15px !important;
      }
    }

    #registrations, #sessions, #passwords {
      &.new, &.create {
        .main {
          height: 100%;
          min-height: auto;
          padding: 0;
        }
      }
    }

    .login-panel {
      height: 100%;
    }

    .flash {
      margin-top: 50px;
    }

    .pagination a, .pagination span.current, .pagination span.gap {
      padding: 0 7px;
      line-height: 24px;
    }

    .tabs .tab button {
      text-indent: -9999px;

      span {
        display: block;
        text-indent: initial;
        float: left;
      }
    }
  }
}

//fix for iPhone
@media screen and (max-device-width: 480px){
  body {
    -webkit-text-size-adjust: none;
  }
}
