@media only screen and (max-width: 1999px){
  html, body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px){
  html, body {
    font-size: 15px;

    @for $i from 1 through 12 {
      .col-md-#{$i} {
        @include span-columns($i);
      }
    }

    .main-sidebar {
      width: 70px;

      .sidebar-header {
        .header-title {
          display: none;
        }
      }

      .sidebar-nav {
        .nav-title {
          display: none;
        }

        ul li a {
          font-size: 0;

          &:before {
            display: none;
          }
        }
      }

      .sidebar-footer {
        .welcome, .welcome-user {
          display: none;
        }

        a {
          font-size: 0;
        }
      }
    }

    .main-panel .main-container .container-header {
      flex-direction: column;
      gap: 15px;

      .as-grid, .as-list {
        display: none;
      }
    }

    .order-cards {
      grid-template-columns: 1fr 1fr !important;
    }
  }
}

@media only screen and (max-width: 767px){
  html, body {
    font-size: 14px;

    .flex-row:not(.order-tabs) {
      flex-direction: column;
      gap: 15px;
    }

    .form .actions {
      flex-direction: column;
    }

    .order-cards {
      grid-template-columns: 1fr !important;
    }

    #orders .main-panel .main-container .form .custom-radio {
      grid-template-columns: auto;
    }

    dl {
      flex-direction: column;

      dt, dd {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 639px){
  html, body {
    @for $i from 1 through 12 {
      .col-sm-#{$i} {
        @include span-columns($i);
      }
    }

    .main-panel .main-container {
      padding: 15px;

      .container-header {
        .left-content, .right-content {
          width: 100%;
          justify-content: center;
        }
      }

      .search {
        display: block;

        input[type="text"] {
          padding: 10px 15px 10px 46px;
        }

        input[type="submit"] {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 479px){
  html, body {
    font-size: 14px;
  }
}

//fix for iPhone
@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}
