$font: 'Montserrat', sans-serif;

$primary-color: #fff;
$secondary-color: #000;
$alt-color: #edf0f0;

$purple: #6b45c5;
$grey: #e5e8e8;

$info: #2dccff;
$warning: #ffb302;
$alert: #ff3838;
$success: #00ae69;

$orange: #fe8003;
$green: #aed739;
$blue: #06abdb;
$dark-blue: #0b0e42;