<div class="box main-panel">
	<%= render "shared/main_menu" %>

	<div class="main-container">
		<%= flash_message %>
		
		<header class="container-header">
			<h1 class="header-title">Bem vindo, <span><%= username %>!</span></h1>
		</header>

		<section class="container-body">
			
		</section>
	</div>
</div>