<div class="box main-panel">
	<%= render "layouts/main_menu" %>

	<div class="container main-container">
		<%= flash_message %>
		
		<header class="container-header">
			<p class="header-subtitle">Bem vindo,</p>
			<h1 class="header-title"><span><%= username %>!</span></h1>
		</header>

		<section class="container-body">
			
		</section>
	</div>
</div>