#home {
	.main-panel .main-container {
		.container-body {
			section {
				h3 {
					text-transform: uppercase;
			  	padding: 10px 20px;
			    background-color: $dark-blue;
			    color: $primary-color;
			    display: inline-block;
			    border-radius: 0 5px 5px 0;
			    margin-left: -30px;
			  }
			}
		}
	}

	&.index {
		.responsive-table {
			li {
				margin-bottom: 0;
			}

			.table-header, .table-row {
				padding: 15px;
			}

			.table-row {
				@include prefix(box-shadow, none);
				border-top: solid 1px $grey;
			}
		}

		.card {
			margin-top: 15px;
			font-size: .85em;
			background-color: $primary-color;
			border-radius: 5px;
			@include prefix(box-shadow, (rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px));

			&:nth-child(n+2) {
				margin-top: 50px;
			}

			.card-header {
				position: relative;
				top: -15px;
				left: 25px;
				display: inline-block;
				background-color: $green;
				padding: 10px 20px;
				max-width: calc(100% - 50px);
				border-radius: 5px;

				.card-title {
					color: $primary-color;
					font-size: 1.25em;
					line-height: 1.5em;
				}
			}

			&[data-bg="orange"] .card-header {
				background-color: $orange;
			}

			&[data-bg="blue"] .card-header {
				background-color: $blue;
			}

			&[data-bg="purple"] .card-header {
				background-color: $purple;
			}

			&[data-bg="dark-blue"] .card-header {
				background-color: $dark-blue;
			}

			.card-body {
				padding: 5px 25px;
			}
		}

		.feature-card {
			font-size: calc(4px + .8vw);
			padding: calc(4px + 0.75vw) calc(4px + 1vw);
    	border-radius: 5px;
			height: calc(40px + 8vw);
			background-color: white;
    	display: flex;
    	align-items: flex-end;
    	justify-content: flex-start;
    	flex-direction: column;
    	overflow: hidden;
    	position: relative;
    	@include prefix(box-shadow, (rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px));

    	&:after {
    		content: "";
    		width: 150%;
    		height: 50%;
    		position: absolute;
    		left: -25%;
    		transform: rotate(5deg);
    	}

    	&:after {
    		bottom: -15%;
    	}

    	h1 {
    		font-weight: 100;
    	}

    	p {
    		font-weight: 300;
    	}

    	&.last-month {
	    	&:after {
	    		background-color: $purple;
	    	}

	    	* {
	    		color: $purple;
	    	}
    	}

    	&.last-2-months {
	    	&:after {
	    		background-color: $blue;
	    	}

	    	* {
	    		color: $blue;
	    	}
    	}

    	&.last-3-months {
    		&:after {
	    		background-color: $orange;
	    	}

	    	* {
	    		color: $orange;
	    	}
    	}

    	&.last-4-months {
    		&:after {
	    		background-color: $green;
	    	}

	    	* {
	    		color: $green;
	    	}
    	}
		}
	}

	&.profile {
		.responsive-table {
      .table-header {
        background-color: #ccc;

        div {
          color: $secondary-color;
        }
      }
    }
	}
}
