#orders {
	&.index {
		.main-panel .main-container .container-header {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.right-content {
				display: flex;
				align-items: center;
				gap: 10px;

				.action-buttons {
					gap: 10px;
					display: flex;
					align-items: center;
			    border-radius: 50px;
				}
			}
		}

		.container-body {
			.order-container {
				&:nth-child(n+2) {
					margin-top: 50px;
				}

				&.em-aberto h4 span {
			  	color: $info;
			  }

			  &.em-manutencao h4 span {
			  	color: #aaa;
			  }

			  &.para-retirada h4 span {
			  	color: $purple;
			  }

			  &.saiu-para-entrega h4 span {
			  	color: $orange;
			  }

			  &.aguardando-pecas h4 span {
			  	color: $alert;
			  }

			  &.concluido h4 span {
			  	color: $success;
			  }
			}

			.order-status-title {
				margin-bottom: 10px;
				font-weight: 600;

				span {
					font-weight: 600;
					text-transform: uppercase;
					color: $info;
				}
			}

			.order-cards {
				display: grid;
				grid-gap: 25px 2.5%;
				grid-template-columns: 1fr 1fr 1fr 1fr;

				&.as-list {
					grid-template-columns: 1fr;

					.order-card {
						flex-direction: row;
						border-top: none !important;

						&.em-aberto {
					  	border-left: solid 5px $info;
					  }

					  &.em-manutencao {
					  	border-left: solid 5px #aaa;
					  }

					  &.para-retirada {
					  	border-left: solid 5px $purple;
					  }

					  &.saiu-para-entrega {
					  	border-left: solid 5px $warning;
					  }

					  &.aguardando-pecas {
					  	border-left: solid 5px $alert;
					  }

					  &.concluido {
					  	border-left: solid 5px $success;
					  }

					  .order-card-header {
					  	flex-direction: column;

					  	.right-content {
					  		padding-top: 15px;
					  	}
					  }

					  .order-card-body, .order-card-footer {
					  	display: flex;
					  }

					  .order-card-body {
					  	text-align: left;
					  	padding: 15px;
					  	width: 100%;
					  	flex-direction: column;
					  	justify-content: center;
					  }

					  .order-card-footer {
					  	width: 200px;
					  	align-items: center;
					  	padding: 15px;

					  	.options {
					  		bottom: 0;
					  	}

					  	> span {
					  		padding: 0 25px 0 0;
					  	}
					  }
					}
				}

				.order-card {
				  @include prefix(transition, .25s cubic-bezier(.075,.82,.165,1));
				  border-radius: 5px;
				  min-width: 200px;
				  display: flex;
				  flex-direction: column;
				  position: relative;
				  background-color: white;

				  &.em-aberto {
				  	border-top: solid 10px $info;
				  }

				  &.em-manutencao {
				  	border-top: solid 10px #aaa;
				  }

				  &.para-retirada {
				  	border-top: solid 10px $purple;
				  }

				  &.saiu-para-entrega {
				  	border-top: solid 10px $warning;
				  }

				  &.aguardando-pecas {
				  	border-top: solid 10px $alert;
				  }

				  &.concluido {
				  	border-top: solid 10px $success;
				  }

					&:hover {
					  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
					}

					.order-card-header {
						padding: 15px;

						.left-content {
							display: flex;
							flex-direction: column;

							.order-id {
								font-weight: 700;
							}

							.order-spot {
								font-style: italic;
							}
						}

						.left-content .order-spot, .right-content .order-creation-date {
							font-size: .9em;
							font-weight: 600;
							color: rgba(0, 0, 0, 0.5);
						}
					}

					.order-card-link {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
					}

					.order-card-header {
						display: flex;
						align-items: start;
						justify-content: space-between;
					}

					.order-card-body {
						padding: 50px 25px;
				    text-align: center;
				    height: 100%;

				    h3 {
				    	font-weight: 400;
				    	margin-bottom: 5px;
				    }

				    p {
				    	overflow: hidden;
				    	display: -webkit-box;
					    -webkit-line-clamp: 3;
					    -webkit-box-orient: vertical;
					    overflow: hidden;
				    	font-size: .9em;
				    	font-weight: 700;
				    }
					}

					.order-card-footer {
						display: flex;
						align-items: flex-end;
						justify-content: space-between;
						position: relative;
						padding: 15px 5px 15px 15px;

						> span {
							color: rgba(0, 0, 0, 0.5);
							font-size: .9em;
							font-weight: 600;
						}

						.options {
							position: relative;
							bottom: -5px;

							.options-btn {
						    display: inline-block;

						    span {
						    	color: #aaa;
						    }
							}
						}
					}
				}
			}
		}
	}

	&.edit, &.update, &.show {
		.order-tabs {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #d6d6d6;
				display: inline-block;
				height: 5px;
			}

			.order-tab button {
				border-bottom: solid 5px #d6d6d6;
				padding: 10px 20px;
				cursor: pointer;
				@include prefix(transition, all .5s cubic-bezier(.075,.82,.165,1));
				position: relative;
				z-index: 2;

				&:hover, &.current {
					border-color: $dark-blue;
				}
			}
		}

		.order-data {
			width: 100%;
			display: none;

			&.current {
				display: block;
			}
		}

		.input.boolean, .input.boolean > label {
			align-items: start;
			flex-flow: column;
		}
	}

	&.show {
		.main-panel .main-container .container-body {
			section {
				h3 {
					text-transform: uppercase;
			  	padding: 10px 20px;
			    background-color: $dark-blue;
			    color: $primary-color;
			    display: inline-block;
			    border-radius: 0 5px 5px 0;
			    margin-left: -50px;
			  }

				p {
					font-size: .9em;
				}
			}

		}
	}

	.main-panel {
		.main-container {
			.order-info {
				align-items: flex-end;
				margin-bottom: 5px;

				h6 span {
					font-weight: 400;
				}

				.updated-at {
					font-size: .9em;
					font-style: italic;
					color: #d6d6d6;
				}
			}

			.form {
				.equipment-category {
					font-weight: 700;
				}

				.custom-radio {
					align-items: start;

					span.radio {
						label {
							display: flex;
							align-items: center;
							flex-direction: column;
							border: none;
							position: relative;
							font-size: 1em;
							color: #aaa;

							&:before, &:after {
								content: "";
								@include prefix(transition, .25s cubic-bezier(.075,.82,.165,1));
								border-radius: 50%;
								margin-bottom: 20px;
							}

							&:before {
								width: 60px;
								height: 60px;
								background-color: #d6d6d6;
								position: relative;
								z-index: 2;
							}

							&:after {
								position: absolute;
								top: 0;
								left: 50%;
								@include prefix(transform, translateX(-50%));
								width: 70px;
								height: 70px;
								background-color: #f4f4f4;
							}

							&.checked, &:hover {
								color: $dark-blue !important;

								&:before {
									background-color: $dark-blue;
								}

								&:after {
									background-color: rgba($dark-blue, 0.25);
								}
							}

							&[for="order_stuff_attributes_category_pcnotebook"]:before {
								@include background("icons/laptop.svg", 2em);
							}

							&[for="order_stuff_attributes_category_monitor"]:before {
								@include background("icons/monitor.svg", 2em);
							}

							&[for="order_stuff_attributes_category_impressora"]:before {
								@include background("icons/printer.svg", 2em);
							}

							&[for="order_stuff_attributes_category_estabilizadorno-break"]:before {
								@include background("icons/nobreak.svg", 2em);
							}

							&[for="order_stuff_attributes_category_outro"]:before {
								@include background("icons/dots.svg", 2em);
							}
						}
					}
				}

				.input .numeric {
					width: 150px !important;
				}
			}
		}
	}
}