#orders {
	&.new, &.create, &.edit, &.update, &.show {
		.main-panel .main-container {
			.container-header {
				.header-title {
					text-transform: uppercase;
					span {
						font-style: initial;
					}
				}
			}

			.container-body {
				padding-top: 0;
			}
		}
	}

	&.index {
		.main-panel .main-container .container-header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.sp input {
				margin-top: 5px;
				background-color: transparent;
				color: $info;
				cursor: pointer;
				font-style: italic;
				font-size: .75em;

				&:hover {
					text-decoration: underline;
				}
			}

			.right-content {
				display: flex;
				align-items: center;
				gap: 10px;

				.action-buttons {
					gap: 10px;
					display: flex;
					align-items: center;
			    border-radius: 50px;
				}
			}
		}

		.container-body {
			.order-container {
				&:nth-child(n+2) {
					margin-top: 50px;
				}

				&.em-aberto h4 span {
			  	color: $info;
			  }

			  &.em-manutencao h4 span {
			  	color: $grey;
			  }

			  &.para-retirada h4 span {
			  	color: $purple;
			  }

			  &.saiu-para-entrega h4 span {
			  	color: $warning;
			  }

			  &.aguardando-pecas h4 span {
			  	color: $alert;
			  }

			  &.concluido h4 span {
			  	color: $success;
			  }
			}

			.order-status-title {
				font-weight: 300;
				margin-bottom: 10px;

				span {
					font-weight: 600;
					text-transform: uppercase;
					color: $info;
				}
			}

			.order-cards {
				display: grid;
				grid-gap: 25px;
				grid-template-columns: 1fr 1fr 1fr;

				&.as-list {
					grid-template-columns: 1fr;
				}

				.order-card {
				  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
				  border-radius: 5px;
				  min-width: 200px;
				  display: flex;
				  flex-direction: column;
				  position: relative;

				  &.em-aberto {
				  	border-top: solid 10px $info;
				  }

				  &.em-manutencao {
				  	border-top: solid 10px $grey;
				  }

				  &.para-retirada {
				  	border-top: solid 10px $purple;
				  }

				  &.saiu-para-entrega {
				  	border-top: solid 10px $warning;
				  }

				  &.aguardando-pecas {
				  	border-top: solid 10px $alert;
				  }

				  &.concluido {
				  	border-top: solid 10px $success;
				  }

					&:hover {
					  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
					}

					.order-card-header {
						padding: 15px;

						.left-content {
							display: flex;
							flex-direction: column;

							.order-id {
								font-size: .9em;
								font-weight: 700;
							}

							.order-spot {
								font-style: italic;
							}
						}

						.left-content .order-spot, .right-content .order-creation-date {
							font-size: .75em;
							color: $grey;
						}
					}

					.order-card-link {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
					}

					.order-card-header {
						display: flex;
						align-items: start;
						justify-content: space-between;
					}

					.order-card-body {
						padding: 50px 25px;
				    text-align: center;
				    height: 100%;

				    h4 {
				    	font-weight: 400;
				    	margin-bottom: 5px;
				    }

				    p {
				    	overflow: hidden;
				    	display: -webkit-box;
					    -webkit-line-clamp: 3;
					    -webkit-box-orient: vertical;
					    overflow: hidden;
				    	font-size: .75em;
				    	font-weight: 700;
				    }
					}

					.order-card-footer {
						span {
							margin-left: 15px;
							font-size: .75em;
							font-weight: 600;
						}

						.options {
							@extend .pull-right;
							position: relative;

							.options-btn {
								content: "";
								width: 16px;
								height: 16px;
								display: inline-block;
								margin: 0 5px 15px 0;
								@include background("icons/dots-v.svg", "icon");
								opacity: .5;
							}

							ul {
								z-index: 999;
								display: none;
								list-style: none;
								position: absolute;
						    top: calc(100% + 10px);
						    right: 0;
								background-color: $primary-color;
								border-radius: 5px;
								box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

								&:before, &:after {
									content: "";
						      position: absolute;
						      border-left: solid 6px transparent;
						      border-right: solid 6px transparent;
						      bottom: 100%;
								}

								&:before {
						      right: 6px;
						      bottom: 100%;
						      border-bottom: solid 6px #fff;
						      z-index: 3;
								}

								&:after {
						      right: 5px;
						      border-bottom: solid 6px #d6d6d6;
						      z-index: 2;
								}

								li a {
									display: block;
									padding: 10px 15px;
									transition: all 0.3s cubic-bezier(.25,.8,.25,1);
									white-space: nowrap;
									font-size: .75em;
									border-radius: 5px;

									&:hover {
										background-color: #f4f4f4;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.edit, &.update, &.show {
		.order-tabs {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #d6d6d6;
				display: inline-block;
				height: 5px;
			}

			.order-tab button {
				background-color: $primary-color;
				border-bottom: solid 5px #d6d6d6;
				padding: 10px 20px;
				cursor: pointer;
				@include prefix(transition, all .5s cubic-bezier(.075,.82,.165,1));
				position: relative;
				z-index: 2;

				&:hover, &.current {
					border-color: $info;
				}
			}
		}

		.order-data {
			width: 100%;
			display: none;

			&.current {
				display: block;
			}
		}
	}

	&.show {
		.main-panel .main-container .container-body {
			h3 {
				text-transform: uppercase;
			}

			p {
				font-size: .9em;
				color: $grey;
			}
		}
	}

	.main-panel {
		.main-container {
			.order-info {
				align-items: flex-end;
				margin-bottom: 5px;

				h6 span {
					font-weight: 400;
				}

				.updated-at {
					font-size: .75em;
					font-style: italic;
					color: #d6d6d6;
				}
			}

			.form {
				.equipment-category {
					font-size: .9em;
					font-weight: 600;
				}

				.custom-radio {
					justify-content: center;
					align-items: start;
					grid-gap: 0;
					grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

					span.radio {
						label {
							display: flex;
							align-items: center;
							flex-direction: column;
							border: none;
							position: relative;
							line-height: 1em;

							&:before, &:after {
								content: "";
								border-radius: 50%;
								margin-bottom: 20px;
							}

							&:before {
								width: 6em;
								height: 6em;
								background-color: #d6d6d6;
								position: relative;
								z-index: 2;
							}

							&:after {
								position: absolute;
								top: 0;
								left: 50%;
								@include prefix(transform, translateX(-50%));
								width: 7em;
								height: 7em;
								background-color: #f4f4f4;
							}

							&.checked, &:hover {
								color: #2dccff !important;

								&:before {
									background-color: #2dccff;
								}

								&:after {
									background-color: rgba(#2dccff, 0.25);
								}
							}

							&[for="order_stuff_attributes_category_pcnotebook"]:before {
								@include background("icons/laptop.svg", 2em);
							}

							&[for="order_stuff_attributes_category_monitor"]:before {
								@include background("icons/monitor.svg", 2em);
							}

							&[for="order_stuff_attributes_category_impressora"]:before {
								@include background("icons/printer.svg", 2em);
							}

							&[for="order_stuff_attributes_category_estabilizadorno-break"]:before {
								@include background("icons/nobreak.svg", 2em);
							}

							&[for="order_stuff_attributes_category_outro"]:before {
								@include background("icons/dots.svg", 2em);
							}
						}
					}
				}

				.input .numeric {
					width: 150px !important;
				}

				.input:not(.submit):not(.boolean), textarea {
					width: 100%;
				}

				.actions {
					display: flex;
					gap: 25px;
				}
			}
		}
	}
}