.login-panel {
	max-width: 1280px;
	max-height: 720px;
	height: 100%;
	position: relative;
	top: 50%;
	@include prefix(transform, translateY(-50%));
	
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include background("bg.jpg", cover);
	}

	.left-container, .right-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
	}

	.left-container {
		width: 100%;
		max-width: 480px;
		background-color: #fff;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 50px;
		}

		img {
			width: 100%;
		}

		.logo-pref-taubate {
			width: 240px;
		}

		.logo-sec-educacao {
			width: 300px;
		}
	}

	.right-container {
		position: relative;
		width: 100%;
		background-color: rgba(0, 0, 0, .8);

		.logo-dti {
			width: 100px;
		}

		.form .input:not(.submit):not(.boolean) label {
			color: #ffffff;
		}

		.form-options {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.divider {
			color: $grey;
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			margin: 50px auto;

			&:before, &:after {
				content: "";
				display: inline-block;
				width: 100px;
				height: 1px;
				background-color: $grey;
			}

			&:before {
				margin-right: 15px;
			}

			&:after {
				margin-left: 15px;
			}
		}

		.sign-up {
			color: $grey;
			font-size: .9em;
		}
	}

	.form {
		.form-options {
			margin-top: 15px;
		}

		.input input:not(.submit):not(.boolean) {
			color: #fff;
		}
	}
}

.sign-up-panel {
	background-image: url("header.jpg");
	background-repeat: repeat-x;
	flex-direction: column;
	max-height: none;
	justify-content: flex-start;
	padding: 20px 0 50px 0;
	max-width: 1600px;
	position: relative;
	top: 50%;
	@include prefix(transform, translateY(-50%));

	.logo-dti {
		display: block;
		img {
			width: 100px;
		}
	}

	h2 {
		font-weight: 400;
	}

	.form {
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;

		.segment {
			margin-bottom: 5px;
			margin-top: 25px;
			font-size: .75em;
			font-weight: 600;
		}

		.radio_buttons {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.input.radio_buttons {
			margin-top: 0 !important;
		}

		.input.numeric, .input.zip-code {
			width: 100px !important;
		}

		.input.district {
			width: 150px !important;
		}

		.left-content, .right-content {
			flex: 1 1 0;
			padding: 50px;
		}

		.right-content {
			padding-top: 82px;
		}

		.actions {
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}