<div class="modal-container" id="modal-opened">
  <div class="modal">

    <div class="modal__details">
      <h1 class="modal__title">Atenção!</h1>
    </div>

    <p class="modal__text">Para resolver problemas relacionados aos notebooks VAIO entregues aos professores, é necessário levar o equipamento até o setor de TI na SEED das 08h às 12h e das 13h30 às 17h30. Agradecemos a compreensão!</p>

    <p class="modal__description">Divisão de Controle da Plataforma Online e Tecnologia da Informação</p>

    <a href="#modal-closed" class="modal__close"></a>

  </div>
</div>